{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

              <!-- Shop header content -->
              <div class="bg-dark text-secondary px-4 py-5 text-center">
                <div class="py-5">
                  <h1 class="display-5 fw-bold text-white">Shop</h1>
                  <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                      <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
                      <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <!-- Categories product -->
              <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary" href="#">World</a>
                <a class="p-2 link-secondary" href="#">U.S.</a>
                <a class="p-2 link-secondary" href="#">Technology</a>
                <a class="p-2 link-secondary" href="#">Design</a>
                <a class="p-2 link-secondary" href="#">Culture</a>
                <a class="p-2 link-secondary" href="#">Business</a>
                <a class="p-2 link-secondary" href="#">Politics</a>
                <a class="p-2 link-secondary" href="#">Opinion</a>
                <a class="p-2 link-secondary" href="#">Science</a>
                <a class="p-2 link-secondary" href="#">Health</a>
                <a class="p-2 link-secondary" href="#">Style</a>
                <a class="p-2 link-secondary" href="#">Travel</a>
              </nav>

              <!-- Search product -->
              <div class="mt-4 mb-4">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search Product" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
              
              <!-- Populated Products -->
              <div class="album py-5 bg-light">
                <div class="container">
            
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="./assets/img/products/p1.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="./assets/img/products/p2.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>                          
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="assets/img/products/p3.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>                          
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="./assets/img/products/p4.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>                          
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="./assets/img/products/p5.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>                          
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="./assets/img/products/p6.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>                          
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="./assets/img/products/p7.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>                          
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="./assets/img/products/p8.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>                          
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <a href="./single-product.html">
                          <img src="./assets/img/products/p9.png" class="bd-placeholder-img card-img-top bg-light" width="100%" height="225"></img>
                        </a>                          
                        <div class="card-body">
                          <a href="./single-product.html" class="text-dark">
                            <h4>Product name</h4>
                          </a>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="badge rounded-pill bg-success">$10000</span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Pagination -->
              <div class="bd-example">
                <div class="bd-example mt-4">
                  <nav aria-label="Another pagination example">
                    <ul class="pagination pagination-lg flex-wrap">
                      <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
                  </div>
              </div>

{% endblock %}