{% load static %}     
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'assets/font/bootstrap-icons.css' %}">
</head>
<body>
    <!-- top header -->
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'shop:home' %}"><b>TemplateShop</b></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Searching... -->
        <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">

        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="./login.html">Log-in</a>
          </div>
        </div>
        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="./register.html">Register</a>
          </div>
        </div>
        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <form action="#" method="post" class="nav-link">
              <button type="submit" class="text-white btn btn-outline-dark">Sign-out</button>
            </form>
            <!-- <a class="nav-link px-3" href="#">Sign-out</a> -->
          </div>
        </div>
      </header>
      <!-- end top header -->

      <div class="container-fluid">
        <div class="row">
            <!-- left header -->
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'shop:home' %}">
                    <span data-feather="home">
                      <i class="bi bi-house"></i>
                    </span>
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:products' %}">
                    <span data-feather="file">
                      <i class="bi bi-shop"></i>
                    </span>
                    Shop
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:about' %}">
                    <span data-feather="shopping-cart">
                      <i class="bi bi-book"></i>
                    </span>
                    About
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:contact' %}">
                    <span data-feather="users">
                      <i class="bi bi-phone"></i>
                    </span>
                    Contact
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./blog.html">
                    <span data-feather="bar-chart-2">
                      <i class="bi bi-grid"></i>
                    </span>
                    Blog
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./cart.html">
                    <span data-feather="bar-chart-2">
                      <i class="bi bi-cart"></i>
                    </span>
                    Cart (3)
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./checkout.html">
                    <span data-feather="bar-chart-2">
                      <i class="bi bi-bag-check"></i>
                    </span>
                    Checkout
                  </a>
                </li>
      
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                  <span>
                    <use xlink:href="#speedometer2"></use>
                    Account</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                  </a>
                </h6>
                <ul class="nav flex-column mb-2">
                  <li class="nav-item">
                    <a class="nav-link" href="./profile.html">
                      <span data-feather="file-text"></span>
                      Profile
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Settings
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./login.html">
                      <span data-feather="file-text">
                      </span>
                      Log-in
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./register.html">
                      <span data-feather="file-text"></span>
                      Register
                    </a>
                  </li>
                  <li class="nav-item">
                    <form action="#" method="post" class="">
                      <span data-feather="file-text"></span>
                      <button type="submit" class="nav-link btn btn-outline-white">Log-out</button>
                    </form>
                  </li>
                </ul>
            </div>
          </nav>
          <!-- end left header -->
          
          <!-- main scroling content -->
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container-fluid">
                
                <!-- Content -->
                {% block content %}
                {% endblock %}

           <!-- Footer -->
            <div class="container-fluid">
                <!-- footer -->
                <footer class="py-5">
                  <div class="row">
                    <div class="col-2">
                      <h5>Links</h5>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Shop</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact</a></li>
                      </ul>
                    </div>
              
                    <div class="col-2">
                      <h5>Section</h5>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                      </ul>
                    </div>
              
                    <div class="col-5">
                      <h5>Contacts</h5>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img class="me-2" src="{% static 'assets/img/icons/location-dark.png' %}" width="15" height="20" alt="">Location</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img class="me-2" src="{% static 'assets/img/icons/call-dark.png' %}" width="15" height="20" alt="">+998 90 878 62 77</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img class="me-2" src="{% static 'assets/img/icons/mail-dark.png' %}" width="15" height="20" alt="">akromjonrustamov56@gmail.com</a></li>
                      </ul>
                    </div>
                  </div>
              
                  <div class="d-flex justify-content-between py-4 my-4 border-top">
                    <p>Created in 2024 .</p>
                    <ul class="list-unstyled d-flex">
                      <li class="ms-3"><a class="link-dark" href="#"><img src="{% static 'assets/img/icons/instagram-dark.png' %}" alt="" width="25" height="25"></a></li>
                      <li class="ms-3"><a class="link-dark" href="#"><img src="{% static 'assets/img/icons/facebook-dark.png' %}" alt="" width="25" height="25"></a></li>
                      <li class="ms-3"><a class="link-dark" href="#"><img src="{% static 'assets/img/icons/linkedin-dark.png' %}" alt="" width="25" height="25"></a></li>
                      <li class="ms-3"><a class="link-dark" href="#"><img src="{% static 'assets/img/icons/twitter-dark.png' %}" alt="" width="25" height="25"></a></li>
                      <li class="ms-3"><a class="link-dark" href="#"><img src="{% static 'assets/img/icons/youtube-dark.png' %}" alt="" width="25" height="25"></a></li>
                    </ul>
                  </div>
                </footer>
            </div>
          </main>
        </div>
      </div>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
</body>
</html>